* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100%;
    min-width: 100%;
    z-index: -1;
}

.panel {
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

button {
    height: 110px;
    width: 130px;
    font-size: 20px;
    color: rgb(124, 219, 47);
    background-color: transparent;
    border: 5px solid black;
    border-radius: 10px;
    box-shadow: 0px 3px 10px black;
} 

button:first-line {
    font-size: 45px;
    color: white;
}

.highlight {
    border: 5px solid rgb(74, 153, 10);
    box-shadow: 0 5px 15px black;
    transition: transform 0.3s ease;
    transform: scale(1.05);
}
